import pandas as pd
import numpy as np
from pandas import DataFrame
import requests
from dotenv import load_dotenv
import os
import re
import json
from pandas.io.json import json_normalize

In [33]:
# Importar el acceso al archivo

load_dotenv()

True

## Función 1: Realizar la llamada a la API con los parámetros deseados

Introduzco los valores:

1) **ll**: (Coordenadas) Separadas por una coma y en forma de string. 
*Ej: "40.4146500,-3.7004000"*

2) **query**: (Lo que deseamos obtener) En forma de string. 
*Ej: "Spanish Restauran"*
    - Categoría de los eventos: https://developer.foursquare.com/docs/build-with-foursquare/categories/
    
3) **limit**: (Límite de búsquedas). En forma de número entero. 
*Ej: 500*

4) **name_database**: (Cómo queremos llamar a la base de datos). En forma de string. 
*Ej: "spanish_restaurant"*

In [34]:
def data_api(ll,query,limit,name_database):
    
    import pandas as pd                                    # Importo las librerias necesarias
    import numpy as np
    from pandas import DataFrame
    import requests
    from dotenv import load_dotenv
    import os
    import re
    import json
    from pandas.io.json import json_normalize
    
    load_dotenv()                                           # Importar el acceso al archivo
    
    url = 'https://api.foursquare.com/v2/venues/explore'    # Dirección de la API
   
    params = dict(
    client_id=os.getenv("FQ_CLIENT_ID"),                    # Verificación ID de acceso          
    client_secret=os.getenv("FQ_CLIENT_SECRET"),            # Verificación claves de acceso
    v='20201201',                                           # Fecha de actualización
    ll=ll,
    radius="10000",                                           # Coordenadas principales para buscar a partir de ellas
    query=query,                                            # ¿Qué estamos buscando?
    limit=limit)
    resp = requests.get(url=url, params=params)             # Buscar en la url definida con los parámetros elegidos
    name_database = json.loads(resp.text)                   # Convertirlo en un json y convertir la búsqueda en texto

    return name_database

## Función 2: Obtener los datos y ordenarlos

Introduzco los valores:

1) **bbdd**: (Base de datos) En forma de variable. 
*Ej: "spanish_restaurant"*

2) **n**: (Nº de búsquedas que queremos realizar) En forma de número entero. 
*Ej: 100*

        - Aclaración: Pese a buscar más de 100, solo lee una parte. Para ello utilizamos el siguiente código.
        
          *print(nombre_base_datos["response"]["totalResults"])*

In [35]:
def obtener_datos(bbdd,n):
    
    names = []
    lat = []
    long = []
   
    for i in range(n):
          
        names.append(bbdd["response"]["groups"][0]["items"][i]["venue"]["name"])
        lat.append(bbdd["response"]["groups"][0]["items"][i]["venue"]["location"]["lat"])
        long.append(bbdd["response"]["groups"][0]["items"][i]["venue"]["location"]["lng"])
        
    return names,lat,long

## Función 3: Crear un dataFrame, añadir el identificador y generar un .csv

Introduzco los valores:

1) **nombre_dataframe**: (Base de datos) En forma de string. 
*Ej: "spanish_restaurant"*

2) **identificador**: (Cómo queremos identificar todos estos datos) En forma de string. 
*Ej: "Restaurante Español"*

In [36]:
def dataFrame_creation(nombre_dataframe, identificador):
    nombre_final = datos

    nombre_final = list(nombre_final)

    d = {"Identificador": identificador,"Nombre": nombre_final[0], "Latitud": nombre_final[1], "Longitud": nombre_final[2]}
    final = pd.DataFrame(data=d)

    final.to_csv(f"{nombre_dataframe}.csv")

## Diferentes llamadas a la API

## 1. Spanish Restaurant

In [37]:
spanish_restaurant = data_api("40.4146500,-3.7004000","Spanish Restaurant",500,"spanish_restaurant")

In [38]:
print(spanish_restaurant["response"]["totalResults"])

datos = obtener_datos(spanish_restaurant,100)

224

In [39]:
dataFrame_creation("Spanish_Restaurant", "Restaurante Español")

cv = pd.read_csv("Spanish_Restaurant.csv")

cv.head()

,Unnamed: 0,Identificador,Nombre,Latitud,Longitud
0,0,Restaurante Español,Toga,40.411118,-3.706673
1,1,Restaurante Español,El Barril de las Letras,40.414360,-3.696713
2,2,Restaurante Español,Casa Pueblo,40.414614,-3.698598
3,3,Restaurante Español,Astór Gastrobar,40.412730,-3.709617
4,4,Restaurante Español,El Paraguas,40.423865,-3.685814

## 2. Italian restaurant

In [40]:
italian_restaurant = data_api("40.4146500,-3.7004000","Italian Restaurant",500,"italian_restaurant")

In [41]:
print(italian_restaurant["response"]["totalResults"])

datos = obtener_datos(italian_restaurant,100)

110

In [42]:
dataFrame_creation("Italian_Restaurant", "Restaurante Italiano")

cv1 = pd.read_csv("Italian_Restaurant.csv")

cv1.head()

,Unnamed: 0,Identificador,Nombre,Latitud,Longitud
0,0,Restaurante Italiano,Ôven Mozzarella Bar,40.419245,-3.697850
1,1,Restaurante Italiano,Pizzaiolo,40.423795,-3.698597
2,2,Restaurante Italiano,La Tavernetta,40.426076,-3.694156
3,3,Restaurante Italiano,Pizzeria Italiana Piccolo Diavolo,40.411529,-3.695596
4,4,Restaurante Italiano,Nina Pasta Bar,40.409508,-3.708836

## 3. Museos de Arte

In [43]:
art_museum = data_api("40.4146500,-3.7004000","Art Museum",300,"art_museum")

In [44]:
print(art_museum["response"]["totalResults"])

datos = obtener_datos(art_museum,21)

34

In [45]:
dataFrame_creation("Art_Museum", "Museo de Arte")
                   
cv2 = pd.read_csv("Art_Museum.csv")
                   
cv2.head()

,Unnamed: 0,Identificador,Nombre,Latitud,Longitud
0,0,Museo de Arte,Museo Nacional Centro de Arte Reina Sofía (MNC...,40.408737,-3.693822
1,1,Museo de Arte,Museo Thyssen-Bornemisza,40.416359,-3.694891
2,2,Museo de Arte,Museo Nacional del Prado,40.413978,-3.692189
3,3,Museo de Arte,CaixaForum Madrid,40.411013,-3.693177
4,4,Museo de Arte,Espacio Fundación Telefónica,40.420392,-3.701617

## 4. Soccer Stadium

In [46]:
soccer_stadium = data_api("40.4146500,-3.7004000","Soccer Stadium",300,"soccer_stadium")

In [47]:
print(soccer_stadium["response"]["totalResults"])

datos = obtener_datos(soccer_stadium,14)

14

In [48]:
dataFrame_creation("Soccer_stadium", "Estadio de Fútbol")

cv3 = pd.read_csv("Soccer_stadium.csv")

cv3.head()

,Unnamed: 0,Identificador,Nombre,Latitud,Longitud
0,0,Estadio de Fútbol,Estadio Santiago Bernabéu,40.453062,-3.688338
1,1,Estadio de Fútbol,Estadio Vicente Calderón,40.402071,-3.720382
2,2,Estadio de Fútbol,Players Tunnel,40.453130,-3.687860
3,3,Estadio de Fútbol,Palco De Honor (Royal Box),40.453372,-3.688411
4,4,Estadio de Fútbol,Estadio de Vallecas,40.391747,-3.658640

## 5. Outdoor Sculpture

In [49]:
outdoor_sculpture = data_api("40.4146500,-3.7004000","Outdoor Sculpture",300,"outdoor_sculpture")

In [50]:
print(outdoor_sculpture["response"]["totalResults"])

datos = obtener_datos(outdoor_sculpture,26)

26

In [51]:
dataFrame_creation("Outdoor_Sculpture", "Escultura Exterior")

cv4 = pd.read_csv("Outdoor_Sculpture.csv")

cv4.head()

,Unnamed: 0,Identificador,Nombre,Latitud,Longitud
0,0,Escultura Exterior,Luminoso Tío Pepe,40.416771,-3.703344
1,1,Escultura Exterior,Monumento A Miguel De Cervantes,40.415615,-3.696507
2,2,Escultura Exterior,Casa De Papá Noel,40.416034,-3.704201
3,3,Escultura Exterior,Ángel estrellado,40.415672,-3.709996
4,4,Escultura Exterior,Stormtrooper #FacetheForce,40.408771,-3.693228

## 6. History Museum

In [52]:
history_museum = data_api("40.4146500,-3.7004000","History Museum",300,"history_museum")

In [53]:
print(history_museum["response"]["totalResults"])

datos = obtener_datos(history_museum,20)

20

In [54]:
dataFrame_creation("History_Museum", "Museo de Historia")

cv5 = pd.read_csv("History_Museum.csv")

cv5.head()

,Unnamed: 0,Identificador,Nombre,Latitud,Longitud
0,0,Museo de Historia,Museo Arqueológico Nacional (MAN),40.423259,-3.688432
1,1,Museo de Historia,Imprenta Municipal,40.413663,-3.705448
2,2,Museo de Historia,Museo Naval de Madrid,40.417721,-3.693211
3,3,Museo de Historia,Templo de Debod,40.424164,-3.716843
4,4,Museo de Historia,Museo Sorolla,40.435248,-3.692374

## 7. Palace

In [55]:
palace = data_api("40.4146500,-3.7004000","Palace",100,"palace_sites")

In [56]:
print(palace["response"]["totalResults"])

datos = obtener_datos(palace,12)

48

In [57]:
dataFrame_creation("palace_sites", "Palacio")

cv6 = pd.read_csv("Palace_sites.csv")

cv6.head()

   Unnamed: 0 Identificador                  Nombre    Latitud  Longitud
0           0       Palacio  Palacio Real de Madrid  40.417940 -3.714259
1           1       Palacio     Plaza de las Cortes  40.415773 -3.696093
2           2       Palacio    Jardines de Sabatini  40.419954 -3.713126
3           3       Palacio      Palacio de Santoña  40.413975 -3.700380
4           4       Palacio      Hotel Único Madrid  40.428560 -3.686494

## 8. Metro Station

In [58]:
metrostation = data_api("40.4146500,-3.7004000","Metro Station",100,"metrostation")

In [59]:
print(metrostation["response"]["totalResults"])

datos = obtener_datos(metrostation,100)

203

In [60]:
dataFrame_creation("metrostation", "Metro Station")

cv7 = pd.read_csv("MetroStation.csv")

cv7

    Unnamed: 0  Identificador                 Nombre    Latitud  Longitud
0            0  Metro Station             Andén Cero  40.432334 -3.697679
1            1  Metro Station              Metro Sol  40.416882 -3.703038
2            2  Metro Station          Metro Sevilla  40.417894 -3.699405
3            3  Metro Station      Metro Embajadores  40.404755 -3.702469
4            4  Metro Station  Metro Tirso de Molina  40.412386 -3.704968
..         ...            ...                    ...        ...       ...
95          95  Metro Station         Metro Alvarado  40.450196 -3.703457
96          96  Metro Station    Metro Cruz del Rayo  40.446166 -3.678088
97          97  Metro Station        Metro Vinateros  40.410349 -3.652503
98          98  Metro Station           Metro Laguna  40.399304 -3.744713
99          99  Metro Station            Metro Cuzco  40.458368 -3.690266

[100 rows x 5 columns]

# Links importantes

## 1. Four Square

- Regular API Endpoints: https://developer.foursquare.com/docs/places-api/endpoints/
- Realizar llamada a la API: https://developer.foursquare.com/docs/places-api/getting-started/
- Categoría de los eventos: https://developer.foursquare.com/docs/build-with-foursquare/categories/

## 2. Folium

- Documentación 1: https://python-visualization.github.io/folium/
- Documentación 2: https://python-visualization.github.io/folium/modules.html
- Iconos 1: https://fontawesome.com/v4.7.0/icons/
- Iconos 2: https://getbootstrap.com/docs/3.3/components/